<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/METheader :: METheader">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div id="page-wrapper">
    <div th:replace="fragments/menu :: menu" />
    <!-- 메일전송 -->

    <div id="page-content-wrapper">
        <div id="bodyContent" class="container-fluid">
            메일 전송 폼 만들 예정
        </div>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div>
</body>
</html>